html {
    position: relative;
    min-width: 100%;
	min-height: 100%;
	line-height: 160%;
}
#ct{
	text-align:center;
}
#videobcg { 
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.main{
				background-image:url('../img/main.jpg');
				background-color: LightSKYBLUE;
				background-size: cover;
                }
.grave{
                background-image:url('../img/grave.jpg');
                background-color: LightSKYBLUE;
                background-size: cover;
                }
.bt {
    background-color:white;
    opacity:0
    }
.bt:hover {
    opacity:0.5
        }
a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; color: yellow;}
a:hover {text-decoration: underline; color: yellow;}
.ft {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding: 30pt;
    color:white;
  }
.tp{
    color:white;
    background-color:transparent;
    border:0;
}